body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding-top: 20px;
}

section {
    padding: 50px 20px;
}

#nosotros {
    background-color: #f9f9f9;
}

#portafolio {
    background-color: #e0e0e0;
}

#servicios {
    background-color: #f9f9f9;
}

#contacto {
    background-color: #e0e0e0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
